<div class="login-page">
  
  <div class="brand-panel">
    <p class="brand-label">Focus AI</p>
    <h2 class="brand-tagline">Mejora tu<br>concentración</h2>
  </div>

  <div class="form-panel">

    <div class="bulb-icon">
      <img src="/logo.png" class="logo-form">
    </div>

    <h1 class="form-title">Inicio de Sesión</h1>

    <form (ngSubmit)="onSubmit()" novalidate class="login-form">

      <div class="field">
        <label>Correo Electrónico</label>
        <input
          [ngModel]="email()"
          (ngModelChange)="email.set($event)"
          name="email"
          type="text"
          [class.input-error]="emailError()"
          (blur)="validateEmail()"
        />
        @if (emailError()) {
          <span class="error-msg">{{ emailError() }}</span>
        }
      </div>

      <div class="field">
        <label>Contraseña</label>
        <div class="password-wrapper">
          <input
            [ngModel]="password()"
            (ngModelChange)="password.set($event)"
            name="password"
            [type]="showPassword() ? 'text' : 'password'"
            [class.input-error]="passwordError()"
            (blur)="validatePassword()"
          />
          <button type="button" class="toggle-eye" (click)="togglePassword()">
            <lucide-icon 
              [img]="showPassword() ? EyeOff : Eye" 
              size="16" 
              color="#6b7280"
            ></lucide-icon>
          </button>
        </div>
        @if (passwordError()) {
          <span class="error-msg">{{ passwordError() }}</span>
        }
        <a href="#" class="forgot-link">Olvidé mi contraseña</a>
      </div>

      <button
        type="submit"
        class="btn-submit"
        [disabled]="isSubmitDisabled()"
        [class.btn-disabled]="isSubmitDisabled()"
      >
        {{ loading() ? 'Iniciando...' : 'Iniciar Sesión' }}
      </button>

      @if (serverError()) {
        <p class="server-error animate-shake">{{ serverError() }}</p>
      }

      @if (successMessage()) {
        <p class="success-msg">{{ successMessage() }}</p>
      }

    </form>

    <p class="register-link">
      No tienes cuenta? <a routerLink="/register">Crear Cuenta</a>
    </p>

  </div>
</div>